*{
    font-family: 'Roboto', sans-serif;
    --primary-color: #0ea5e9;
    --primary-background-color: #e0f2fe;
    --secondary-background-color: #f0f9ff;
}

body{
    padding: 0;
    margin: 0;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.dashboard{
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    display: grid;
    grid-row: 1/6;
    grid-column: 1/2;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
}

#logo{
    grid-column: 1/2;
    font-size: 25px;
    padding: 25px 0 60px 25px;
}

#user_buttons, #support_buttons{
    grid-column: 1/2;
    padding-left: 25px;
}

#user_buttons{
    grid-row: 2/4;
    margin-bottom: 5px;
}

#support_buttons{
    padding-top: 50px;
    grid-row: 4/5;
}

.dash_button{
    padding: 5px 0 5px 0;
}

/*navbar*/

nav{
    grid-column: 2/8;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(2,1fr);
}

#top{
    grid-column: 1/8;
    grid-row: 1/2;
    display: flex;
    justify-content: space-around;
}

.search{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

#search_bar{
    width: clamp(100px,30vw,1000px);
    height: 25px;
    border: none;
    background-color: var(--primary-background-color);
    border-radius: 25px;
}

.profile{
    display: flex;
    gap: 10px;
    align-items: center;
}

.profile_picture img{
    border-radius: 50px;
    border: 1px black solid;
    width: 35px;
    height: auto;
}

#bottom{
    grid-column: 1/8;
    grid-row: 2/3;
    display:flex;
    justify-content: space-around;
    margin: 20px 20px 0px 30px
}

#bottom .nav_left{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav_left .profile_picture img{
    width: 50px;
    height: auto;
}

.greeting #greeting_username{
    font-weight: bold;
    font-size: 20px;
}

.nav_right ul{
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
}

.nav_right button{
    width: 75px;
    height: 30px;
    color: white;
    font-weight: bold;
    background-color: var(--primary-color);
    border: none;
    border-radius: 25px;
}

/*Cards etc.*/

.content{
    grid-row: 2/6;
    grid-column: 2/8;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: var(--secondary-background-color);
}

.projects{
    grid-row: 1/6;
    grid-column: 1/5;
    background-color: var(--secondary-background-color);
    padding: 10px;
}

.projects_container{
    display: grid;
    overflow-y: auto;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 10px;
    max-height: 100%;
}

.card{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    height: 200px;
    background-color: white;
    border-left-style: solid;
    border-color: rgb(230, 190, 10);
    border-width: 8px;
    border-radius: 8px;
    color: gray;
    position: relative;
}

.card .title{
    color: black;
    font-weight: bold;
}

.card .subtext {
    flex-grow: 1; /* Allow subtext to take up remaining space */
}

.card .interactions{
    display: flex;
    justify-content: right;
    margin-right: 10px;
    margin-bottom: 10px;
}


.announcements{
    padding-top: 12px;
    grid-row: 1/3;
    grid-column: 5/6;
    background-color: var(--secondary-background-color);
}

.announcements h2{
    padding: 10px;
}

.announcement_content{
    margin: 10px;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
}

.article .title{
    font-size: 10px;
}

.article .subtext{
    font-size: 8px;
    color: gray;
}

.trending{
    margin-top: 160px;
}

.trending h2{
    padding-left: 10px;
}

.trending_content{
    margin: 0px 10px 10px 10px;
    padding: 10px;
    grid-row: 3/6;
    grid-column: 5/6;
    background-color: white;
    border-radius: 8px;
}

.trending .person{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: -15px;
}

.trending .person img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50px;
    border: 1px black solid;
}

.trending .person .details .username{
    margin-bottom: -10px;
}